.accordion {
  @extend %wrapper--flex-col;
  max-width: 80%;
  margin: auto;
  transition: all 2s;
  &__head {
    @extend %wrapper--flex-row;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid rgba($color-secondary, 0.4);
  }
  &__body {
    @extend %wrapper--flex-col;

    background-color: $color-tertiary;

    box-shadow: -1px -5px 10px $color-primary;
    transition: all 2s linear;
    &:hover,
    &:focus {
      border-bottom: 1px solid $color-secondary;
    }
    &--closed {
      max-height: 0;
      overflow: hidden;
    }
    &--open {
      @extend %wrapper--flex-col;
      max-height: auto;
      overflow: visible;

      border-top: 1px solid $color-secondary;
      box-shadow: -1px -10px 25px $color-primary;

      /* animation: paperUp 2s;*/
    }
  }
}
