.wrapper {
  width: calc(100% - 3rem);

  background-color: rgb(255, 255, 255);

  margin: 3rem auto;
  padding: 3rem;
  border: 1px solid rgb(143, 135, 106);
  border-radius: 10px;
  box-shadow: 1px 1px 20px 15px rgba(31, 6, 252, 0.8);
}
