.btn {
  align-self: center;

  background-color: rgba(37, 37, 37, 0.2);
  color: rgb(31, 6, 252);

  padding: 0rem 0.8rem 0.2rem 0.8rem;
  border-radius: 50%;
  box-shadow: 1px 1px 1px rgb(31, 6, 252), -1px -1px 1px rgb(31, 6, 252);
}
