#ulSlideDown {
  animation: down 0.8s linear;
}
#slideUp {
  animation: up 1s linear;
}

.logoBox {
  text-align: center;
}
.logoTxt {
  position: fixed;
  top: 2rem;
  left: 1rem;

  color: rgb(255, 255, 255);

  font-family: "Roboto Slab", serif;
  font-size: 1.8rem;
  letter-spacing: 0.3rem;
  line-height: 3rem;
  text-shadow: 3px 5px 1px rgb(37, 37, 37), -3px -3px 5px rgb(31, 6, 252);
  text-transform: uppercase;

  transform: skewY(-25deg);
  opacity: 1;
}
.logoBoxOnScrolling {
  line-height: 2.5rem;
  top: 0rem;
  transform: skew(0deg);
  width: 100%;
  padding: 0;
}
