.wrapper {
  width: calc(100% - 4rem);

  background-color: rgb(255, 255, 255);
  padding: 2rem;
  border: 1px solid rgb(31, 6, 252);
  border-radius: 10px;
}
@media (min-width: 600px) {
  .wrapper {
    width: 80%;
  }
}
