.wrapper {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-items: center;

  background: linear-gradient(
    to bottom,
    rgb(37, 37, 37) 20%,
    rgb(31, 6, 252) 70%,
    rgb(241, 241, 221) 95%
  );
  color: rgb(255, 255, 255);

  text-shadow: 3px 5px 1px rgb(37, 37, 37), -3px -3px 5px rgb(31, 6, 252);

  padding: 6%;
}
