.txt {
  color: rgb(37, 37, 37);

  font-family: "Roboto Slab", sans-serif;
  font-size: 1.6rem;
  font-weight: 100;
  letter-spacing: 0.2rem;
  line-height: 3rem;
  text-align: center;

  padding: 3rem;
}
