.footer {
  background: linear-gradient(to top, rgb(37, 37, 37), rgb(31, 6, 252));
  color: rgb(255, 255, 255);

  padding: 1.5rem;
  margin-top: 3rem;
}
.svg {
  height: 4rem;
  fill: rgb(31, 6, 252);
}
.copyright {
  text-align: left;
}
.ti {
  text-align: right;
}
