body {
  color: $color-secondary;
}
label,
input {
  color: $color-secondary;
}
%txt--color-light {
  color: $color-tertiary;
}
.txt--light {
  @extend %txt--color-light;
}

.txt--colored {
  color: $color-primary;
}
