.wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  width: 100%;
}
.text {
  background: linear-gradient(
    to bottom,
    rgb(98, 78, 6) 70%,
    rgb(143, 135, 106) 90%,
    rgb(241, 241, 221)
  );
  color: rgb(255, 255, 255);

  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  line-height: 3rem;
  text-shadow: 1px 2px 1px rgb(31, 6, 252), -1px -1px 2px rgb(31, 6, 252);
  text-align: center;
  text-transform: uppercase;

  padding: 9%;
}
