@media (max-width: 599px) {
  .grid {
    display: none;
  }
  .gridNav {
    display: none;
  }
  .gridInner {
    display: none;
  }
}
@media (min-width: 600px) {
  .noGrid {
    display: none;
  }
  .grid {
    display: grid;
    grid-template-columns: 20% 80%;
  }
  .gridNav {
    grid-column: 1 / 2;
  }
  .gridInner {
    grid-column: 2 / 3;
  }
}
