$color-primary: rgb(31, 6, 252);
$color-secondary: rgb(37, 37, 37);
$color-tertiary: rgb(255, 255, 255);

$color-light: rgb(241, 241, 221);
$color-dark: rgb(0, 0, 0);

$space-half: 4.5%;
$space-full: 9%;
$space-any: auto;
